{% extends "sentry/bases/auth.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Confirm Email" %} | {{ block.super }}{% endblock %}

{% block auth_main %}

    {% if has_unverified_emails %}
        <h2>{% trans "Confirmation sent" %}</h2>
        <p>{% trans "A verification email has been sent to " %}<strong>{{ request.user.email }}</strong>.</p>
    {% else %}
        <h2>{% trans "Already confirmed" %}</h2>
        <p>{% trans "Your email " %}(<strong>{{ request.user.email }}</strong>)
           {% trans " has already been verified." %}</p>
    {% endif %}
{% endblock %}
